extends ../layout.jade
block content
	div(class ="col-md-5 center-block no-float")
		h1 Agregar producto
			form(method="post", action="/menu", enctype = "multipart/form-data")
				div(class="form-group")
					label Nombre
					input(type="text", name="title", placeholder="Nombre del producto")
				div(class="form-group")
					label Descripci칩n
					textarea(type="text", name="description", placeholder="Descripci칩n del producto")
				div(class="form-group")
					label Precio
					input(type="number", name="pricing", placeholder="Precio del producto")
				div(class="form-group")
					label Imagen del producto
					input(type="file", name="image")
				div(class="form-group")
					label Contrase침a
					input(type="password", name="password", placeholder="Contrase침a")
				div(class="form-group")
					input(type="submit", value="Guardar")